* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.montserrat {
  font-family: "Montserrat", sans-serif;
}

.libre {
  font-family: "Libre Baskerville", serif;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

.container {
  max-width: 350px;
  margin: 0 auto;
  padding: 0 1rem;
  z-index: 5;
}

p {
  font-family: "Montserrat", sans-serif;
}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background-color: #333;
  color: #fff;
  padding: 10px;
  z-index: 999;
}

.skip-link:focus {
  top: 0;
}

/* NAVIGATION */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav ul {
  display: none;
}

nav ul.active {
  display: flex;
  flex-direction: column;
  background-color: #f9f9f9;
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  z-index: 10;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  gap: 0.5rem;
}

nav ul li {
  list-style: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  background-color: #fff;
  width: 100%;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
}

nav ul li a {
  text-decoration: none;
  color: #333;
  transition: all 0.3s ease;
}

.menu-toggle {
  display: inline-flex;
  flex-direction: column;
  cursor: pointer;
}

/* HERO SECTION */

.hero {
  position: relative;
  overflow-x: hidden;
  padding-top: 2rem;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 80%;
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}

.yellow-box {
  width: 50%;
  height: 100%;
  flex-shrink: 0;
  border-radius: 3.125rem 0rem 0rem 0rem;
  background: #ffd900;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

h1 {
  color: #333;
  font-family: "Libre Baskerville", serif;
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 150%;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.spots {
  color: #333;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 158.4%;
}

.pink-span {
  color: #dd71c6;
  font-weight: 400;
  line-height: 150%;
}

.intro-text {
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  width: 100%;
  font-weight: 400;
  line-height: 160%;
}

.intro-text-desktop {
  display: none;
}

.appointment {
  display: inline-flex;
  padding: 0.625rem 0.875rem;
  align-items: flex-start;
  gap: 0.625rem;
  background: #dd71c6;
  max-width: fit-content;
  margin: 0 auto;

  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;

  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
}

.counter-rectangle {
  display: flex;
  padding: 1.625rem 2.25rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;

  border-radius: 1.875rem;
  background: linear-gradient(
    108deg,
    rgba(255, 255, 255, 0.51) 9.7%,
    rgba(255, 255, 255, 0.49) 88.76%
  );
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(20px);
}

.counter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.numbers-container {
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.counter-title {
  color: #0083d3;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 0.5rem;
  font-style: normal;
  font-weight: 500;
  line-height: 177.9%;
  letter-spacing: 0.1625rem;
}

.counter-number {
  color: #333;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: 177.9%;
}

.hero h4 {
  color: #333;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 158.4%;
}

.hero-left-circle {
  display: none;
}

.hero-right-circle {
  width: 222px;
  height: 222px;
  flex-shrink: 0;
  stroke-width: 28px;
  stroke: #fff;
  position: absolute;
  top: 22%;
  right: -30%;
  z-index: 15;
}

/* PURPLE SECTION */

.purple-section {
  height: fit-content;
  flex-shrink: 0;
  background: #dd71c6;
  padding-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-x: hidden;
}

.boxes-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
}

.box {
  display: flex;
  width: 134px;
  height: 157px;
  padding-top: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  flex-shrink: 0;
  width: 40%;

  border-radius: 1.25rem;
  background: #fff;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.03);
}

.box:nth-child(4) {
  padding: 1.5rem 0.5rem;
}

.box-svg {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.bold-data {
  color: #333;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  line-height: 177.9%;
}

.info-text {
  color: #333;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 158.4%;
}

.plus-span {
  color: #c4c4c4;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 177.9%;
}

.appointment-yellow {
  display: block;
  padding: 0.625rem 0.875rem;
  gap: 0.625rem;
  background: #ffd900;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);

  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 600;

  text-decoration: none;
  max-width: fit-content;
  margin: 2rem auto 3rem;
}

.purple-left-circle {
  width: 125px;
  height: 125px;
  flex-shrink: 0;
  stroke-width: 28px;
  stroke: #fff;
  position: absolute;
  top: 49%;
  left: -8%;
}

.purple-right-circle {
  width: 209px;
  height: 209px;
  flex-shrink: 0;
  stroke-width: 28px;
  stroke: #fff;
  position: absolute;
  top: 22%;
  right: -15%;
}

.purple-left-circle-desktop {
  display: none;
}

.purple-right-circle-desktop {
  display: none;
}

/* BLUE SECTION */

.blue-section {
  height: fit-content;
  flex-shrink: 0;
  background: #73c3f4;
  display: flex;
  padding: 4rem 2rem;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow-x: hidden;
}

.blue-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.blue-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 2rem;
}

.blue-section h3 {
  color: #fff;
  font-family: "Libre Baskerville", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 1rem;
}

.blue-section p {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  line-height: 160%;
}

.blue-appointment {
  display: block;
  padding: 0.625rem 0.875rem;
  align-items: flex-start;
  gap: 0.625rem;
  background: #dd71c6;
  max-width: fit-content;
  margin: 1.5rem auto;
  align-self: self-start;

  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
}

.blue-image {
  margin: 5rem auto 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.image-circle {
  width: 241.174px;
  height: 241.174px;
  flex-shrink: 0;
  margin: 6rem auto 0;
  position: relative;
  z-index: 0;
}

.blue-small-circle {
  width: 80px;
  height: 80px;
  flex-shrink: 0;
  stroke-width: 28px;
  stroke: #fff;
  position: absolute;
  top: -5%;
  right: -5%;
}

.blue-small-circle-desktop {
  display: none;
}

.blue-small-circle-tablet {
  display: none;
}

.girl-image {
  width: 274.12px;
  height: 354px;
  flex-shrink: 0;
  background: url("img/girl.png") no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 40%;
  transform: translateX(-50%); 
  z-index: 1;
}

.blue-left-circle {
  display: none;
}

.blue-right-circle {
  width: 336px;
  height: 336px;
  flex-shrink: 0;
  border-radius: 336px;
  border: 28px solid #fff;
  opacity: 0.15;
  position: absolute;
  top: 7%;
  right: -60%;
}

/* HELP SECTION */
.help-section {
  height: fit-content;
  flex-shrink: 0;
  background: #fff;
  padding-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: start;
  text-align: start;
  position: relative;
  z-index: 0;
  overflow-x: hidden;
}

.help-section h2 {
  color: #333;
  font-family: "Libre Baskerville", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 160%;
}

.help-text {
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 160%;
  margin: 2rem auto;
  z-index: 1;
}

.help-text-desktop {
  display: none;
}

.help-circle {
  width: 289px;
  height: 289px;
  flex-shrink: 0;
  border-radius: 289px;
  border: 20px solid #f9f9f9;
  position: absolute;
  top: 12%;
  right: -25%;
  z-index: -1;
}

.help-appointment {
  display: block;
  padding: 0.625rem 0.875rem;
  align-items: flex-start;
  gap: 0.625rem;
  background: #dd71c6;
  max-width: fit-content;
  margin: 3rem auto;

  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;

  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
}

.help-appointment-desktop {
  display: none;
}

.people-image-small {
  display: block;
  /* width: 100vw; */
  width: 100%;
  margin: 0 auto;
  height: auto;
}

.people-image-medium {
  display: none;
}

.people-image-large {
  display: none;
}

/* CONSULTATION SECTION */
.consultation-section {
  height: fit-content;
  flex-shrink: 0;
  background: #fff;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  background-color: #f9f9f9;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.consultation-section h2 {
  max-width: 85%;
  color: #333;
  text-align: start;
  font-family: "Libre Baskerville", serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 160%;
  margin: 1rem auto 3rem;
  margin-left: 0.5rem;
}

.consultation-pink-span {
  color: #dd71c6;
  font-size: 24px;
  font-weight: 400;
  line-height: 160%;
}

.consultation-boxes-container {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 2rem;
}

.consultation-box {
  width: 100%;
  display: flex;
  padding-top: 28px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 17px;
  flex-shrink: 0;
  border-radius: 1.25rem;
  background: #fff;
  padding: 1rem;
}

.consultation-box .blue-title {
  color: #0083d3;
  text-align: center;
  font-family: "Libre Baskerville", serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 172.5%;
}

.consultation-box .pink-title {
  color: #dd71c6;
  text-align: center;
  font-family: "Libre Baskerville", serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 172.5%;
}

.hr-blue {
  width: 80%;
  margin: auto;
  height: 1px;
  border: none;
  background: #b1e2ff;
  margin: 0;
}

.hr-pink {
  width: 80%;
  margin: auto;
  height: 0.0625rem;
  border: none;
  background: #ffb7f0;
  margin: 0;
}

.consultation-box ul {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  align-self: self-start;
  padding: 0 2rem;
  gap: 21px;
}

.consultation-box ul li {
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 172.5%;
}

.consultation-appointment {
  display: block;
  padding: 0.625rem 0.875rem;
  align-items: flex-start;
  gap: 0.625rem;
  background: #dd71c6;
  max-width: fit-content;
  margin: 4rem auto;

  color: #fff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;

  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
}

.consultation-left-circle {
  width: 164px;
  height: 164px;
  flex-shrink: 0;
  stroke-width: 17px;
  stroke: #fff;
  position: absolute;
  top: 3%;
  left: -5%;
  z-index: -1;
}

.consultation-left-circle-desktop {
  display: none;
}

.consultation-right-top-circle-desktop {
  display: none;
}

.consultation-right-bottom-circle-desktop {
  display: none;
}

.consultation-left-bottom-circle {
  display: none;
}

.consultation-right-circle {
  width: 129px;
  height: 129px;
  flex-shrink: 0;
  stroke-width: 17px;
  stroke: #fff;
  position: absolute;
  top: 10%;
  right: -10%;
}

/* FAQ SECTION */

.faq-section {
  height: fit-content;
  padding: 2rem 0;
  flex-shrink: 0;
  background: #fff;
  position: relative;
  overflow-x: hidden;
}

.faq-section h3 {
  color: #333;
  font-family: "Libre Baskerville", serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  margin: 3rem auto 4rem;
  position: relative;
  z-index: 5;
}

.faq-container {
  display: flex;
  width: 105%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.question {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: start;
  align-items: flex-start;
  width: 100%;
  font-size: 14px;
  padding: 0.9375rem 1.25rem;
  align-items: center;
  border-radius: 1.25rem;
  background: #f9f9f9;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}

.label-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.item {
  margin-bottom: 20px;
  border-radius: 8px;
  overflow: hidden;
}

.question label {
  color: #333;
  font-family: "Montserrat", sans-serif;
  max-width: 80%;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 172.5%;
}

.answer {
  background-color: #fff;
  margin-top: 0.5rem;
  color: black;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  position: relative;
  height: 0;
  display: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 150%;
}

.question.active .answer {
  height: fit-content;
  box-shadow: inset 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
  display: block;
}

.pink-arrow {
  width: 12px;
  height: 6px;
  stroke-width: 2px;
  stroke: #dd71c6;
}

.faq-appointment {
  display: none;
}

.faq-left-circle {
  display: none;
}

.faq-right-top-circle {
  width: 169px;
  height: 169px;
  flex-shrink: 0;
  stroke-width: 20px;
  stroke: #f9f9f9;
  position: absolute;
  top: 2%;
  right: -10%;
  z-index: 1;
}

.faq-right-top-circle-desktop {
  display: none;
}

.faq-right-bottom-circle-desktop {
  display: none;
}

/* FOOTER */
.footer-container {
  width: 100%;
  padding: 0rem 1rem;
}

footer {
  height: fit-content;
  padding: 5rem 0 1rem;
  flex-shrink: 0;
  position: relative;
  overflow-x: hidden;
  background-color: #f9f9f9;
}

.footer-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  z-index: 1;
}

.first-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;
  align-items: start;
  margin-bottom: 2rem;
}

.first-content p {
  font-size: 14px;
}

.first-content p span {
  font-weight: 700;
  font-size: 14px;
  display: inline-block;
  margin-bottom: 0.5rem;
}

.inline {
  display: flex;
  gap: 1rem;
}

.inline p {
  width: 100%;
  font-size: 14px;
}

footer h4 {
  color: #333;
  font-family: "Libre Baskerville", serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 160%;
  margin-bottom: 1rem;
}

footer ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 1.5rem;
  list-style: none;
}

footer ul li {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 160%;
  /* 1.6rem */
}

footer ul li a {
  color: #333;
  text-decoration: none;
}

.links-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 2rem;
  width: 100%;
  margin-bottom: 2rem;
}

.second-content {
  padding: 1rem;
}

.third-content {
  padding: 1rem;
}

.bottom-line {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-size: 14px;
  gap: 1rem;
  width: 100%;
}

.footer-left-circle {
  display: none;
}

.footer-right-circle {
  width: 230px;
  height: 230px;
  flex-shrink: 0;
  stroke-width: 28px;
  stroke: #fff;
  position: absolute;
  top: 42%;
  right: -20%;
  z-index: 1;
}

.footer-right-bottom-circle {
  display: none;
}

/* MEDIA QUERIES */

/* 400px */
@media screen and (min-width: 400px) {
  .container {
    max-width: 90%;
  }

  .blue-right-circle {
    right: -35%;
  }
}

/* 480px to 767px */
@media screen and (min-width: 480px) and (max-width: 767px) {
  /* HERO */
  .spots {
    font-size: 16px;
  }

  .hero h4 {
    font-size: 16px;
  }

  .counter-title {
    font-size: 12px;
  }

  .counter-number {
    font-size: 28px;
  }

  /* BLUE SECTION */
  .girl-image {
    left: 40%;
    transform: translateX(-50%);
  }

  /* PURPLE SECTION */

  .bold-data {
    font-size: 20px;
  }

  .info-text {
    font-size: 12px;
  }

  /* FOOTER */
  .footer-container {
    max-width: 90%;
    margin: 0 auto;
  }

  .links-container {
    flex-direction: row;
    justify-content: start;
  }
}

/* 768px to 1279px */
@media screen and (min-width: 768px) and (max-width: 1279px) {
  /* HERO */

  .text {
    gap: 3rem;
  }

  .intro {
    padding-bottom: 5rem;
  }

  .hero h1 {
    text-align: start;
    align-self: self-start;
    max-width: 70%;
    margin: 0;
  }

  .spots {
    font-size: 16px;
  }

  .hero h4 {
    font-size: 16px;
  }

  .counter-title {
    font-size: 12px;
  }

  .counter-number {
    font-size: 36px;
  }

  .intro-text {
    max-width: 70%;
    align-self: self-start;
    font-size: 16px;
  }

  .yellow-box {
    height: 90%;
    top: auto;
    bottom: 0;
    right: 0;
  }

  .hero-left-circle {
    display: block;
    width: 273px;
    height: 273px;
    flex-shrink: 0;
    border-radius: 273px;
    border: 20px solid #f9f9f9;
    position: absolute;
    z-index: -1;
    top: 42%;
    left: -10%;
  }

  .hero-right-top-circle {
    width: 289px;
    height: 289px;
    flex-shrink: 0;
    border-radius: 289px;
    border: 28px solid #fff;
    opacity: 0.15;
    position: absolute;
    z-index: 15;
    top: 3%;
    right: -5%;
  }

  .hero-right-circle {
    top: 53%;
    left: 18%;
  }

  /* PURPLE SECTION */
  .purple-section {
    z-index: 0;
  }

  .boxes-container {
    flex-wrap: nowrap;
  }

  .box {
    width: 146px;
    height: 215px;
    padding: 20px 0px;
  }

  .box:nth-child(4) .info-text {
    padding-top: 0;
  }

  .bold-data {
    font-size: 24px;
  }

  .plus-span {
    font-size: 20px;
  }

  .info-text {
    max-width: 85%;
    flex-grow: 1;
    padding-top: 2rem;
    font-size: 16px;
  }

  .purple-left-circle {
    display: none;
  }

  .purple-right-circle {
    width: 181px;
    height: 181px;
    flex-shrink: 0;
    position: absolute;
    top: 40%;
    right: 0%;
    z-index: 5;
  }

  /* BLUE CONTAINER */

  .blue-section {
    position: relative;
  }

  .blue-container {
    max-width: 60%;
    margin: 0 auto;
  }

  .blue-text h3 {
    font-size: 32px;
  }

  .blue-section p {
    font-size: 16px;
  }

  .blue-right-circle {
    top: 15%;
    right: -15%;
  }

  .blue-left-circle {
    display: block;
    width: 413px;
    height: 413px;
    flex-shrink: 0;
    border-radius: 413px;
    border: 28px solid #fff;
    opacity: 0.15;
    position: absolute;
    top: 50%;
    left: -30%;
  }

  .blue-small-circle {
    display: none;
  }

  .blue-small-circle-tablet {
    display: block;
    width: 108.983px;
    height: 108.983px;
    flex-shrink: 0;
    position: absolute;
    top: 0%;
    right: 0%;
  }

  .image-circle {
    width: 328.549px;
    height: 328.549px;
    flex-shrink: 0;
  }

  .girl-image {
    width: 373.432px;
    height: 482.252px;
    flex-shrink: 0;
    top: -10%;
  }

  /* HELP SECTION */
  .help-container {
    max-width: 60%;
    margin: 0 auto;
  }

  .help-circle {
    right: -5%;
  }

  .people-image-small {
    display: none;
  }

  .people-image-medium {
    display: block;
    /* width: 100vw; */
    width: 100%;
    margin: 0 auto;
    height: auto;
  }

  .people-image-large {
    display: none;
  }

  /* CONSULTATION SECTION */
  .consultation-container {
    max-width: 60%;
    margin: 0 auto;
  }

  .consultation-section h2 {
    font-size: 32px;
  }

  .consultation-pink-span {
    font-size: 32px;
  }

  .consultation-box {
    padding: 3rem;
  }

  .consultation-box .blue-title {
    font-size: 24px;
  }

  .consultation-box .pink-title {
    font-size: 24px;
  }

  .consultation-box ul {
    max-width: 80%;
    margin: 0 auto;
    gap: 1.5rem;
  }

  .consultation-box ul li {
    font-size: 14px;
  }

  .consultation-left-circle {
    width: 238px;
    height: 238px;
    top: 10%;
    left: -10%;
  }

  .consultation-left-bottom-circle {
    display: block;
    width: 392px;
    height: 392px;
    flex-shrink: 0;
    border-radius: 392px;
    border: 21px solid #fff;
    position: absolute;
    top: 55%;
    left: -30%;
  }

  .consultation-right-circle {
    width: 238px;
    height: 238px;
    flex-shrink: 0;
    stroke-width: 21px;
    stroke: #fff;
    position: absolute;
    top: 40%;
    right: -5%;
  }

  /* FAQ-SECTION */
  .faq-container {
    width: 100%;
  }

  .faq-custom-container {
    max-width: 60%;
    margin: 0 auto;
  }

  .faq-section h3 {
    font-size: 32px;
  }

  .question label {
    font-size: 16px;
  }

  .answer {
    font-size: 14px;
  }

  .faq-container {
    gap: 1rem;
  }

  .faq-right-top-circle {
    display: none;
  }

  .pink-arrow {
    width: 12px;
    height: 6px;
  }

  .faq-appointment {
    display: block;
    padding: 0.625rem 0.875rem;
    align-items: flex-start;
    gap: 0.625rem;
    background: #dd71c6;
    max-width: 50%;
    margin: 3rem auto;

    color: #fff;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;

    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  }

  /* FOOTER */
  footer {
    height: fit-content;
    padding: 5rem 0 1rem;
    flex-shrink: 0;
    position: relative;
    z-index: 0;
    overflow-x: hidden;
  }

  .footer-container {
    max-width: 90%;
    margin: 0 auto;
  }

  .first-content p {
    font-size: 16px;
    max-width: 50%;
  }

  .inline p {
    max-width: 90%;
  }

  .links-container {
    flex-direction: row;
    justify-content: start;
    gap: 4rem;
  }

  .links-container ul li {
    font-size: 16px;
  }

  .bottom-line {
    font-size: 16px;
  }

  .footer-left-circle {
    display: block;
    width: 230px;
    height: 230px;
    flex-shrink: 0;
    stroke-width: 28px;
    stroke: #fff;
    position: absolute;
    top: 20%;
    left: 10%;
    z-index: -1;
  }

  .footer-right-circle {
    display: none;
  }

  .footer-right-bottom-circle {
    display: block;
    width: 366px;
    height: 366px;
    flex-shrink: 0;
    border-radius: 366px;
    border: 28px solid #fff;
    position: absolute;
    z-index: -1;
    bottom: 3%;
    right: 3%;
  }

  .bottom-line {
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 6rem;
  }
}

/* 1280px and above */
@media screen and (min-width: 1280px) {
  body {
    background-color: #f9f9f9;
  }

  .container {
    max-width: 1200px;
  }

  /* NAVIGATION */
  .menu-toggle {
    display: none;
  }

  nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    gap: 2rem;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    list-style: none;
  }

  nav ul li {
    list-style: none;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 400;
    background: none;
    border: none;
    box-shadow: none;
    width: 100%;
    padding: 0;
    text-align: center;
    width: fit-content;
  }

  nav ul li:hover,
  nav ul li:focus {
    transform: scale(1.05);
    transition: all 0.3s;
  }

  /* HERO SECTION */

  .hero h1 {
    font-size: 45px;
    text-align: start;
  }

  .intro-text {
    display: none;
  }

  .intro-text-desktop {
    display: inline-flex;
    color: #333;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    width: 100%;
    font-weight: 400;
    line-height: 160%;
    align-self: self-start;
    font-size: 16px;
  }

  .spots {
    display: none;
  }

  .counter-container {
    gap: 53px;
  }

  .counter-rectangle {
    display: inline-flex;
    padding: 31px 60px;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 7%;
    right: -12%;
  }

  .numbers-container {
    gap: 2rem;
  }

  .counter-container h4 {
    font-size: 18px;
  }

  .counter-title {
    font-size: 18px;
  }

  .counter-number {
    font-size: 50px;
    padding-top: 2rem;
  }

  .intro {
    align-items: flex-start;
    position: relative;
  }

  .text {
    gap: 1rem;
    max-width: 50%;
    align-items: flex-start;
  }

  .appointment {
    margin-left: 0;
  }

  .yellow-box {
    width: 590px;
  }

  .hero-right-circle {
    display: none;
  }

  .hero-right-top-circle {
    width: 436px;
    height: 436px;
    flex-shrink: 0;
    border-radius: 436px;
    border: 28px solid #fff;
    opacity: 0.15;
    position: absolute;
    top: 15%;
    right: -25%;
  }

  .hero-left-circle {
    display: block;
    position: absolute;
    top: 20%;
    left: -10%;
    width: 386px;
    height: 386px;
    flex-shrink: 0;
    border-radius: 386px;
    border: 28px solid #fff;
    z-index: -1;
  }

  /* PURPLE SECTION */
  .purple-section {
    padding: 5rem;
  }

  .boxes-container {
    max-width: 100%;
    margin: 0 auto;
    flex-wrap: nowrap;
    gap: 1rem;
  }

  .box {
    display: inline-flex;
    width: calc((100% / 4) - 0.5rem);
    height: 264px;
    padding-top: 16px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;
    padding: 1rem;
  }

  .box-svg {
    width: 47px;
    height: 47px;
  }

  .bold-data {
    font-size: 40px;
  }

  .plus-span {
    font-size: 40px;
  }

  .info-text {
    font-size: 18px;
  }

  .appointment-yellow {
    margin: 4rem auto 1rem;
  }

  .purple-left-circle {
    display: none;
  }

  .purple-left-circle-desktop {
    display: block;
    width: 185px;
    height: 185px;
    flex-shrink: 0;
    position: absolute;
    top: 20%;
    left: 5%;
  }

  .purple-right-circle {
    display: none;
  }

  .purple-right-circle-desktop {
    display: block;
    width: 308px;
    height: 308px;
    flex-shrink: 0;
    border-radius: 308px;
    border: 28px solid #fff;
    opacity: 0.15;
    position: absolute;
    top: 10%;
    right: -10%;
  }

  /* BLUE SECTION */
  .blue-section {
    padding: 7rem;
  }

  .blue-container {
    max-width: 1000px;
  }

  .blue-text {
    width: 100%;
  }

  .blue-text p {
    max-width: 100%;
  }

  .blue-info {
    width: 100%;
    flex-direction: row;
    align-items: center;
  }

  .blue-image {
    margin: 0;
    max-width: 40%;
  }

  .girl-image {
    width: 459.19px;
    height: 593px;
    flex-shrink: 0;
    top: -15%;
  }

  .blue-text h3 {
    font-size: 32px;
  }

  .blue-text p {
    max-width: 60%;
  }

  .blue-left-circle {
    display: block;
    width: 271px;
    height: 271px;
    flex-shrink: 0;
    border-radius: 271px;
    border: 28px solid #fff;
    position: absolute;
    top: 40%;
    left: -10%;
  }

  .blue-right-circle {
    width: 489px;
    height: 489px;
    flex-shrink: 0;
    border-radius: 489px;
    border: 28px solid #fff;
    opacity: 0.15;
    top: 15%;
    right: -20%;
  }

  .image-circle {
    width: 404px;
    height: 404px;
    flex-shrink: 0;
    stroke-width: 2px;
  }

  .blue-small-circle {
    display: none;
  }

  .blue-small-circle-desktop {
    display: block;
    width: 85px;
    height: 85px;
    flex-shrink: 0;
    stroke-width: 28px;
    stroke: #fff;
    position: absolute;
    top: 0;
    right: 0;
  }

  .blue-appointment {
    margin-top: 1rem;
    margin-left: 0;
  }

  /* HELP SECTION */
  .help-container {
    max-width: 900px;
    text-align: center;
    position: relative;
    padding-bottom: 15rem;
  }

  .help-section h2 {
    font-size: 32px;
  }

  .people-image {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }

  .people-image-small {
    display: none;
  }

  .people-image-medium {
    display: none;
  }

  .people-image-large {
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    /* width: 100vw; */
    width: 100%;
    margin: 0 auto;
    height: auto;
  }

  .help-text {
    display: none;
  }

  .help-text-desktop {
    display: block;
    color: #333;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 160%;
    margin: 2rem auto;
    z-index: 1;
  }

  .help-appointment {
    display: none;
  }

  .help-appointment-desktop {
    display: block;
    padding: 0.625rem 0.875rem;
    align-items: flex-start;
    gap: 0.625rem;
    background: #dd71c6;
    max-width: fit-content;
    margin: 3rem auto;

    color: #fff;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;

    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
  }

  /* CONSULTATION SECTION */
  .consultation-container {
    max-width: 1000px;
  }

  .consultation-section h2 {
    text-align: center;
    margin: 3rem auto;
    font-size: 32px;
  }

  .consultation-pink-span {
    font-size: 32px;
  }

  .consultation-boxes-container {
    flex-direction: row;
  }

  .consultation-box {
    width: 447px;
    height: 391px;
    justify-content: start;
    gap: 2rem;
    padding: 1.5rem;
  }

  .blue-title,
  .pink-title {
    font-size: 24px;
  }

  .hr-blue,
  .hr-pink {
    width: 95%;
  }

  .consultation-box ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 21px;
  }

  .consultation-box ul li {
    font-size: 16px;
  }

  .consultation-left-circle {
    display: none;
  }

  .consultation-left-circle-desktop {
    display: block;
    width: 386px;
    height: 386px;
    flex-shrink: 0;
    border-radius: 386px;
    border: 28px solid #fff;
    position: absolute;
    top: 20%;
    left: -15%;
  }

  .consultation-right-top-circle-desktop {
    display: block;
    width: 279px;
    height: 279px;
    flex-shrink: 0;
    border-radius: 279px;
    border: 28px solid #fff;
    position: absolute;
    top: 3%;
    right: 5%;
  }

  .consultation-right-bottom-circle-desktop {
    display: block;
    width: 158px;
    height: 158px;
    flex-shrink: 0;
    stroke-width: 28px;
    stroke: #fff;
    position: absolute;
    top: 65%;
    right: 10%;
  }

  /* FAQ SECTION */
  .faq-custom-container {
    max-width: 900px;
    margin: 0 auto;
  }

  .faq-section h3 {
    font-size: 32px;
  }

  .pink-arrow {
    width: 20px;
    height: 10px;
    stroke-width: 6px;
  }

  .faq-container {
    position: relative;
    z-index: 1;
  }

  .question label {
    font-size: 16px;
  }

  .faq-appointment {
    display: block;
    padding: 0.625rem 0.875rem;
    align-items: flex-start;
    gap: 0.625rem;
    background: #dd71c6;
    max-width: fit-content;
    margin: 4rem auto;

    color: #fff;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
  }

  .faq-left-circle {
    display: block;
    position: absolute;
    width: 410px;
    height: 410px;
    flex-shrink: 0;
    border-radius: 410px;
    border: 28px solid #f9f9f9;
    top: 50%;
    left: -10%;
    z-index: 0;
  }

  .faq-right-top-circle-desktop {
    display: block;
    width: 269px;
    height: 269px;
    flex-shrink: 0;
    border-radius: 269px;
    border: 28px solid #f9f9f9;
    position: absolute;
    top: 8%;
    right: 5%;
    z-index: 0;
  }

  .faq-right-bottom-circle-desktop {
    display: block;
    width: 124px;
    height: 124px;
    flex-shrink: 0;
    stroke-width: 28px;
    stroke: #f9f9f9;
    position: absolute;
    bottom: 18%;
    right: 10%;
  }

  /* FOOTER SECTION */

  .footer-container {
    max-width: 900px;
    margin: 0 auto;
  }

  .first-content p {
    max-width: 100%;
  }

  .inline {
    max-width: 100%;
  }

  .break {
    display: none;
  }

  .footer-content {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10rem;
    z-index: 2;
    position: relative;
    z-index: 5;
  }

  .links-container {
    justify-self: flex-end;
    flex-direction: row;
    justify-content: end;
    gap: 3rem;
  }

  .footer-left-circle {
    display: block;
    position: absolute;
    top: 30%;
    left: 3%;
    z-index: 0;
  }

  .footer-right-bottom-circle {
    display: block;
    width: 368px;
    height: 368px;
    flex-shrink: 0;
    border-radius: 368px;
    border: 28px solid #fff;
    position: absolute;
    z-index: 0;
    bottom: 5%;
    right: -10%;
  }

  .bottom-line {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* STATES */
.appointment,
.help-appointment,
.blue-appointment,
.help-appointment-desktop,
.consultation-appointment,
.faq-appointment {
  transition: all 0.3s;
}

.appointment:hover,
.appointment:focus,
.help-appointment:hover,
.help-appointment:focus,
.blue-appointment:hover,
.blue-appointment:focus,
.help-appointment-desktop:hover,
.help-appointment-desktop:focus,
.consultation-appointment:hover,
.consultation-appointment:focus,
.faq-appointment:hover,
.faq-appointment:focus {
  color: #dd71c6;
  background-color: #fff;
}

.appointment-yellow {
  transition: all 0.3s;
}

.appointment-yellow:hover,
.appointment-yellow:focus {
  background-color: #fff;
  color: #ffd900;
}
